@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');

:root {
  --hero-background: #FFFBEC;
  --npc-text: #F05A28;
  --bg-box-color: #000dff30;
  --brand-black: #231F20;
  --dark-gray: #3E323F; 
  --base-gray: #646265;
  --ash-gray: #BAB8BB;
  --silver-gray: #E6E6E6;
  --background-gray: #F9F9F9;
  --success-green: #19AF66;
  --brand-red: #D22;
  --brand-orange: #FB6E00;
  --brand-yellow: #FFC500;
  --orange-light8: #FFF4EB;
  --brand-purple: #8C0082;
  --mid-purple: #720096;
  --dark-purple: #5B0078;
  --primary-gradient: linear-gradient(104deg, #FFC500 0.85%, #DC2223 41.65%, #720096 100%);
  --secondary-gradient: linear-gradient(328deg, #FB6E00 0%, #FFC500 100%);
}

nav {
  background: #FFEFDD;
  color: var(--npc-text);

}

a span {
  color: var(--npc-text);
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

.mainpage {
  color: var(--primary-gradient);  
  opacity: 0.8;
  background-image:  linear-gradient( var(--bg-box-color) 1px, transparent 1px), linear-gradient(to right, var(--bg-box-color) 1px, var(--hero-background) 1px);
  background-size: 20px 20px;    
}

.home-content a {
  --tw-ring-color: hsl(var(--nextra-primary-hue) 100% 50%/0.3);
  --tw-text-opacity: 1;
  text-underline-position: under;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  color: hsl(var(--nextra-primary-hue) 100% 50% / var(--tw-text-opacity));
  
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }
  .home-content .hide-small {
    display: none;
  }
}

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-lg;
}

.btn.btn-ghost {
  @apply shadow-none;
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 3s ease 1s forwards;
}

.section--container {
  margin-left: 3vw;
}

.section--container h1 {
  color: var(--npc-text);
  font-weight: 900;
  font-size: 8rem;
  letter-spacing: -6px;
  font-style: italic;
  width: 60%;
  line-height: 10rem;
  font-family: 'Nunito Sans', sans-serif;
}

@media screen and (max-width: 650px) {

  canvas {
    height: 10px;
  }

  .section--container {
    margin-left: 5vw;
  }

  .section--container h1 {
    font-size: 4rem;
    letter-spacing: -6px;
    line-height: 6rem;
  }

  .color-options {
    margin-bottom: 20px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }

  .support--content {
    top: -10%;
    left: 0;
  }
}